@charset "UTF-8";

@media screen and (min-width: 768px) {
    html, body {
        height: 100vh;
    }

    span#iburguer {
        display: none;
    }

    header>menu {
        display: block;
        text-align: center;
    }

    header>menu>ul>li {
        padding-bottom: 12px;
        display: inline-block;
        ;
    }

    header>menu>ul>li>a {
        width: 190px;
        border-radius: 8px;
    }

    main {
        width: 700px;
        padding: 20px;
        margin: auto;
    }

    footer {
        border-top: 1px solid #333;
        bottom: 0;
        left: 0;
        height: 10px;
        position: fixed;
        width: 100%;
    }
}
