@charset "UTF-8";

@media screen and (min-width: 1055px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    html, body {
        height: 100vh;
    }

    span#iburguer {
        display: none;
    }

    header>menu {
        display: block;
        text-align: center;
    }

    header>menu>ul>li {
        padding-bottom: 12px;
        display: inline-block;
        ;
    }

    header>menu>ul>li>a {
        width: 190px;
        border-radius: 8px;
    }

    main {
        width: 700px;
        padding: 20px;
        margin: auto;
        padding-bottom: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    footer {
        border-top: 1px solid #333;
        bottom: 0;
        left: 0;
        height: 10px;
        position: fixed;
        width: 100%;
    }
}
